<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
      <%= f.label :prefecture_id %><br />
      <%= f.select :prefecture_id, options_for_select(Prefecture.all.map { |p| [p.name, p.id] }) %>
      </div>
      
      <div class="field">
      <%= f.label :gender %><br />
      <%= f.select :gender, [['Male', 1], ['Female', 2], ['Other', 3]] %>
      </div>
      
      <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.date_select :date_of_birth %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>
</div>