<!DOCTYPE html>
<html>
<head>
  <title>NEXT HOBBY</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <% if current_user %>
  <div class="header-buttons">
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: 'button' %>
    <%= link_to '趣味登録', new_post_path, class: 'button' %>
    <%= link_to '趣味一覧', posts_path, class: 'button' %> <!-- 趣味一覧ボタンを追加 -->
    <%= link_to 'ランキング', rankings_path, class: 'button' %> <!-- ランキングボタンを追加 -->
  </div>
<% else %>
  <div class="header-buttons">
    <%= link_to '新規登録', new_user_registration_path, class: 'button' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'button' %>
    <%= link_to '趣味一覧', posts_path, class: 'button' %> <!-- 趣味一覧ボタンを追加 -->
    <%= link_to 'ランキング', rankings_path, class: 'button' %> <!-- ランキングボタンを追加 -->
  </div>
<% end %>