<div class="contents row">
  <div class="post">
    <div class="post-date">
      <span class="label">投稿日時：</span><%= @post.created_at %>
    </div>
    <div class="post-content">
      <p>趣味名: <%= @post.hobby %></p>
      <p>所要時間: <%= @post.required_time %> 分</p>
      <p>予算: <%= @post.budget %> 円</p>
      <p>参加人数: <%= @post.number_of_people %></p>
    </div>
     <% if user_signed_in? && current_user.id == @post.user_id %>   
    <ul class="more_list">
        <li>
          <%= link_to '編集', edit_post_path(@post) %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post), data: { turbo_method: :delete }, method: :delete %>
        </li>
         <% end %>
    </ul>
  </div>
</div>
